<h1>Editing daily query</h1>

<%= render "form", daily_query: @daily_query %>

<br>

<div>
  <%= link_to "Show this daily query", @daily_query %> |
  <%= link_to "Back to daily queries", daily_queries_path %>
</div>
