<p style="color: green"><%= notice %></p>

<h1>Daily queries</h1>

<div id="daily_queries">
  <% @daily_queries.each do |daily_query| %>
    <%= render daily_query %>
    <p>
      <%= link_to "Show this daily query", daily_query %>
    </p>
  <% end %>
</div>

<%= link_to "New daily query", new_daily_query_path %>
